body {
    background-color: royalblue;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: seashell;
}

nav {
    position: fixed;
}

.nav {
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav__knop {
    padding: .5em .9em;
    box-sizing: border-box;
    width: 2.7em;
}

.nav__knop:hover {
    color: royalblue;
    background-color: seashell;
}

.nav__item {
    margin-top: .1em;
}

.nav__link {
    color: royalblue;
    background-color: seashell;
    text-decoration: none;
    display: block;
    padding: .2em .8em;
    transform: translateX(-8.4em);
    transition: transform .8s ease-in-out;
}

.nav__link--schuif-in {
    transform: translateX(0);
}

.nav__link:hover {
    background-color: slateblue;
    color: seashell;
}

/* verfijning van de animatie door de tekst van de link na te laten animeren */
.nav__link--schuif-in .nav__tekst {
    animation: ijl-na 2s forwards;
}

@keyframes ijl-na {
    0% {
        transform: translateX(-2em);
    }

    50% {
        transform: translateX(0.6em);
    }

    75% {
        transform: translateX(-0.3em);
    }

    100% {
        transform: translateX(0em);
    }
}

@media screen and (min-width: 600px) {
    .nav {
        flex-direction: row;
        width: 100vw;
    }

    .nav__item {
        margin-top: 0;
        margin-left: .1em;
        flex: 1 0 auto;
    }

    .nav__link {
        transform: translateY(-2em);
    }

    .nav__link--schuif-in {
        transform: translateY(0);
    }
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.vlakje {
    background-color: seashell;
    width: 15vw;
    height: 15vw;
    transform: translateX(2em);
    transition: transform 1s cubic-bezier(.25, 0, .59, 1.03);
}

.vlakje__naar-rechts {
    transform: translateX(60vw) rotate(90deg);
}

.animeer-knop {
    height: 1.5em;
}

.fas.verberg {
    display: none;
}